<mat-nav-list role="list">
    <mat-list-item  role="listitem" routerLink="/featured">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemLine  class="mat-list-item">Home</span>
    </mat-list-item>
    <mat-list-item  role="listitem" routerLink="/subscriptions">
    <mat-icon matListItemIcon>subscriptions</mat-icon>
    <span matListItemLine  class="mat-list-item">Subscriptions</span>
    </mat-list-item>
    <mat-list-item  role="listitem" routerLink="/history">
    <mat-icon matListItemIcon>history</mat-icon>
    <span matListItemLine  class="mat-list-item">History</span>
    </mat-list-item>
    <mat-list-item  role="listitem" routerLink="/liked-videos">
    <mat-icon matListItemIcon>thumb_up</mat-icon>
    <span matListItemLine  class="mat-list-item">Liked Videos</span>
    </mat-list-item>
    
  </mat-nav-list>