/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background: #9d4beac6;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// custom styles

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
// regular style toast 
@import 'ngx-toastr/toastr';