<mat-card class="example-card" appearance="outlined" [routerLink]="['/video-details/', video.videoId]"
routerLinkActive="router-link-active">
    <img mat-card-image [src]="video.thumbnailUrl" alt="Thumbnail">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{video.title}}</mat-card-title>
      <mat-card-subtitle>Alexine4</mat-card-subtitle>
      <mat-card-subtitle>1m view</mat-card-subtitle>
    </mat-card-header>
    
 
  </mat-card>
  